.event-list {
  text-align: left;
  font-family: monospace;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 6px;
  height: 250px;
  overflow: auto;
}

.homeButton {
  position: absolute;
  display: block;
  left: 10px;
  top: 10px;
}

.user {
  text-decoration: underline;
}

.user:hover {
  background: yellow;
  cursor: pointer;
}

.verb {
  font-style: italic;
}

.ongoing-game {
  font-weight: bold;
  background: lightcyan;
}
