<div class="container" ng-controller="CreateRoomController" ng-init="room = '<%= room %>'">
  <h1>Create Room</h1>
  <form ng-submit="newRoom()" class="text-left">
    <div class="form-group">
      <label for="questionInput">Estimation Problem</label>
      <input type="text" class="form-control" id="questionInput" ng-model="question" placeholder="Estimate...">
    </div>
    <div class="form-group">
      <label for="answerInput">Answer</label>
      <input type="text" class="form-control" id="answerInput" ng-model="answer" placeholder="1..1000">
    </div>

    <input type="submit" value="Create!" class="btn btn-primary"></input>
  </form>
</div>
