<div ng-controller="CreateRoomController">
  <h1>Hello</h1>
  Options for room: TODO <br>
  Question: <input ng-model="question"> <br>
  Answer: <input ng-model="value"> <br>

  <button ng-submit="...">Create!</button>
</div>
