<div ng-controller="CreateRoomController" ng-init="room = '<%= room %>'">
  <h1>Create Room: {{room}}</h1>
  <form ng-submit="newRoom()">
    Options for room: TODO <br>
    Question: <input ng-model="question"> <br>
    Answer: <input ng-model="answer"> <br>

    <input type="submit" value="Create!"></input>
  </form>
</div>
