<div ng-controller="HomepageController">
  <h1>Market Game</h1>

  <form ng-submit="joinRoom(room)">
    Room ID: <input type="text" name="room" ng-model="room">
    <input type="submit" value="Go!">
  </form>
</div>
