<div ng-controller="RoomController" ng-init="room = '<%= room %>'; uid = '<%= uid %>'; init()">
  <h1>Room <button class="btn btn-sm btn-outline-secondary" id="copyLink" ng-click="copyLink()">Copy Link</button></h1>
  <p>Estimate: {{ question }}</p>
  <div ng-if="loaded" class="container">
    <div class="row">
      <div class="transactions col-md-4">
        <h4>My Transactions</h4>
        <ul class="event-list list-unstyled" scroll-glue>
          <li ng-repeat="item in log" ng-if="item.buyer === uid || item.seller === uid">
            <span ng-if="item.buyer === uid">BUY {{ item.seller | username }} {{ item.price }}</span>
            <span ng-if="item.seller === uid && item.buyer !== uid">SELL {{ item.buyer | username }} {{ item.price }}</span>
          </li>
        </ul>
      </div>
      <div class="log col-md-4">
        <h4>All Transactions</h4>
        <ul class="event-list list-unstyled" scroll-glue>
          <li ng-repeat="item in log">
            {{ item.seller | username }}
            => {{ item.buyer | username }}
            {{ item.price }}
          </li>
        </ul>
      </div>
      <div class="events col-md-4">
        <h4>Events</h4>
        <ul class="event-list list-unstyled" scroll-glue>
          <li ng-repeat="event in events" ng-if="event.type !== 'created'">
            {{ event.createdAt | date:'[mm:ss]' }}
            {{ event.user | username }}
            {{ event.type | uppercase }}
            {{ event.data ? event.data : '' }}
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center mb-4" ng-if="uid !== host">
      <div class="col-md-2 col-sm-3 col-6">Exposure: {{ exposure[uid] ? exposure[uid] : 0 | sign }}</div>
      <div class="col-md-2 col-sm-3 col-6">Profit: {{ profit[uid] ? profit[uid] : 0 | sign }}</div>
    </div>
    <div class="row mb-2" ng-if="ongoing && uid !== host">
      <form class="col form-inline justify-content-center" ng-submit="action('bid', 'bidAmount')">
        <input class="form-control mr-2" type="text" placeholder="Bid" ng-model="bidAmount">
        <input class="btn btn-primary" type="submit" value="Bid!">
      </form>
      <form class="col form-inline justify-content-center" ng-submit="action('at', 'atAmount')">
        <input class="form-control mr-2" type="text" placeholder="At" ng-model="atAmount">
        <input class="btn btn-primary" type="submit" value="At!">
      </form>
    </div>
    <div class="row" ng-if="ongoing">
      <div class="col">
        {{ isNaN(buy) ? 'No trades' : 'Best: ' + buy }}
        <button class="btn btn-sm btn-outline-primary" ng-click="action('sold')" ng-disabled="isNaN(buy) || buyUser === uid">Sold!</button>
      </div>
      <div class="col">
        {{ isNaN(sell) ? 'No trades' : 'Best: ' + sell }}
        <button class="btn btn-sm btn-outline-primary" ng-click="action('taken')" ng-disabled="isNaN(sell) || sellUser === uid">Taken!</button>
      </div>
    </div>
    <div class="net-profits" ng-if="!ongoing || uid === host">
      <h4>Net Profits (Value = {{ value }})</h4>
      <ul class="event-list list-unstyled">
        <li ng-repeat="user in users">
          {{ user | username }} {{ user === host ? '&lt;HOST&gt;' : '' }}
          ({{ exposure[user] | sign }}, {{ profit[user] | sign }})
          -> {{ exposure[user] * value + profit[user] | sign }} Sparc Chips
        </li>
      </ul>
    </div>
    <div class="row host-controls" ng-if="ongoing && uid === host">
      <button class="btn btn-danger mx-auto" ng-click="action('end')">Close Market</button>
      <!-- TODO: host can stimulate market.
      <button ng-click="action('sold')" ng-disabled="isNaN(buy)">Sold!</button>
      <button ng-click="action('taken')" ng-disabled="isNaN(sell)">Taken!</button> -->
    </div>
    <h4 ng-if="!ongoing">The game has ended.</h4>
  </div>
</div>
