<h1>Set Name</h1>
<form ng-controller="NicknameController" ng-submit="submit()" class="form-inline d-flex justify-content-center">
  <input class="form-control mr-2" ng-model="nick" placeholder="Name">
  <input type="submit" class="btn btn-primary">
</form>
